.about-us {
  display: flex;
  flex-direction: column;
  min-height: 580px;
  max-width: 1250px;
  padding-top: 1px;
  margin-left: auto;
  margin-right: auto;

  &__button {
    position: relative;
  }

  &__button:after {
    content: url(../images/about-us-play.png);
    position: absolute;    
    top: 0px;
    right: -62px;
  }

  b {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 0.5px;

    margin-top: 91px;
    margin-left: 26px;
  }

  p {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.25px;

    max-width: 540px;
    margin-top: 42px;
    margin-left: 25px;
  }

  button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 11.3px;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-weight: 900;
    text-transform: uppercase;
    color: $purple;

    min-width: 160px;
    margin-top: 38px;
    margin-left: 1.9%;
    padding: 12px 16px;
    border-radius: 6px;
    border: 0;
  }
}

@media screen and (max-width: 550px) {
  .about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-left: 25px;
    padding-right: 25px;

    b {
      margin-top: 50px;
    }

    p {
      margin-top: 25px;
    }
  }
}

@media screen and (max-width: 380px) {
  .about-us {

    b {
      margin-top: 50px;
      font-size: 38px;
    }
  }
}