.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  min-height: 100px;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;

  &__logo { 
    display: inline;
    align-self: center;

    margin-top: 19px;
    margin-left: 2%;
  }

  &__order-button  {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 11.3px;
    line-height: 24px;
    letter-spacing: 0.3px;
    font-weight: 900;
    text-transform: uppercase;
    color: #5101A6;

    margin-top: 40px;
    margin-right: 0.4%;
    padding: 8px 12px;
    border-radius: 6px;
    border: 0;
  }
}


@media screen and (max-width: 1200px) {
  .header {

  }
}

@media screen and (max-width: 550px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
