.slider-controllers {
  display: flex;

  min-width: 0;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;

  &__controller {
    font-family: 'Roboto', sans-serif;
    color: #200142;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;

    padding: 9px 1px;
    border: 0;
  }

  .link_filter {
    margin-top: 68px;
    margin-left: 25px;
  }

  .link_all-offers {
    margin-top: 61px;
    margin-left: 49px;
  }

  .enabled {
    color: $purple;
    border-bottom: 2px solid $purple;
  }
}

.offers-slider {
  position: relative;
  padding: 0 25px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // min-width: 0;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-bottom: 85px;

  .slider__item h4 {
    font-family: 'Montserrat', sans-serif;;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: $purple;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 256px;
    margin-top: 30px;
  }

  .slider__item p {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 18px;
    max-width: 256px;
    margin-top: 15px;
  }


  /*slider*/

  /* Слайдер */
  .slick-slider{

  }
  /* Слайдер запущен */
  .slick-slider.slick-initialized{}
  /* Слайдер с точками */
  .slick-slider.slick-dotted{}
  /* Ограничивающая оболочка */
  .slick-list {
    overflow: hidden;
  }
  /* Лента слайдов */
  .slick-track {
    display: flex;
    // display: block;
    align-items: flex-start;
  }
  /* Слайд */
  .slick-slide{}
  /* Слайд активный (показывается) */
  .slick-slide.slick-active{}
  /* Слайд основной */
  .slick-slide.slick-current{}
  /* Слайд по центру */
  .slick-slide.slick-center{}
  /* Клонированный слайд */
  .slick-slide.slick-cloned{}
  /* Стрелка */
  .slick-arrow{
    position: absolute;
    top: -25px;
    z-index: 10;
    font-size: 0;
    width: 20px;
    height: 30px;
    padding: 24px;
    border: 0;
    border-radius: 5px;
    background-color: #F6F6FA!important;
  }
  /* Стрелка влево */
  .slick-arrow.slick-prev{
    top: -80px;
    right: 73px;
  }
  /* Стрелка вправо */
  .slick-arrow.slick-next{
    top: -80px;
    right: 10px;
  }
  /* Стрелка не активная */
  .slick-arrow.slick-disabled{
    opacity: 0.2;
  }
  /* Точки (булиты) */
  .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .slick-dots li{
    list-style: none;
    margin: 0px 10px;
    
  }
  /* Активная точка */
  .slick-dots li.slick-active button {
    background-color: $purple;
  }
  /* Элемент точки */
  .slick-dots li button{
    font-size: 0;
    width: 12px;
    height: 12px;
    background-color: #E0E0E0;
    border-radius: 50%;
    border: 0;
  }
}

@media screen and (max-width: 550px) {
  .offers-slider {
    .slick-arrow.slick-prev{
      top: -141px;
      right: 73px;
    }
    /* Стрелка вправо */
    .slick-arrow.slick-next{
      top: -141px;
      right: 10px;
    }
  }
}