<div class="about-us">
    <b>До луны и обратно</b>
    <p>Задача организации, в особенности же курс на социально-ориентированный национальный проект позволяет оценить значение модели развития.</p>
    <a href="https://www.vk.com"><button class="about-us__button">Подробнее о нас</button></a>
    <style>
      .about-us__button {
        position: relative;
      }
      .about-us__button:after {
        content: url(./assets/images/about-us-play.png);
        position: absolute;    
        top: 0px;
        right: -62px;
      }
    </style>
</div>
