<div class="feedback">
  <b>Остались вопросы?</b>

  <p>Задача организации, в особенности же курс на социально-ориентированный национальный проект позволяет оценить значение модели развития.</p>

  <form class="feedback__form" method="post" id="" action="" >
    <label for="name"></label>
    <input class="feedback__input feedback__name-input" type="text" name="name" id="name" placeholder="Ваше имя" />
    <label for="phone"></label>
    <input class="feedback__input ffeedback__telephone-input" type="tel" name="phone" id="phone" placeholder="+7(999)999-99-99">
    <label for="email"></label>
    <input class="feedback__input ffeedback__email-input" type="text" name="email" id="email" placeholder="Email" />
    <input class="feedback__submit ffeedback__submit-button" type="submit" id="btn" value="Отправить" />
</form>
</div>