<div class="offers">

  <b>Вы с нами?</b>

  <div class="offers__row-1">
    <button class="offers__last-minute-offers-button">Горящие предложения</button>
    <button class="offers__all-offers-button">Все предложения</button>
    <!-- <button class="offers__last-minute-offers-left-button"></button>
    <button class="offers__last-minute-offers-right-button"></button>
    <button class="offers__all-offers-left-button hidden"></button>
    <button class="offers__all-offers-right-button hidden"></button> -->
  </div>

  <!-- <div class="offers__row-2">
    <div class="offers__offer offer--last-minute">
      <img src="./assets/images/offer-1.png" alt="offer">
      <h4>Пакет включено почти всё</h4>
      <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности.</p>
    </div>
    <div class="last-minute-offers__offer">
      <img src="" alt="offer">
      <h4>Пакет включено почти всё</h4>
      <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности.</p>
    </div>
    <div class="last-minute-offers__offer offer--last-minute">
      <img src="./assets/images/offer-2.png" alt="offer">
      <h4>Пакет включено почти всё</h4>
      <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности.</p>
    </div>
    <div class="last-minute-offers__offer offer--last-minute">
      <img src="./assets/images/offer-3.png" alt="offer">
      <h4>Пакет включено почти всё</h4>
      <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности.</p>
    </div>
    <div class="last-minute-offers__offer offer--last-minute">
      <img src="./assets/images/offer-4.png" alt="offer">
      <h4>Пакет включено почти всё</h4>
      <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности.</p>
    </div>
  </div> -->

  <!-- <div id="card-slider" class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <img src="./assets/images/offer-4.png">
          <h4>Heading 01</h4>
          <div>
            Description 01
          </div>
        </li>
        <li class="splide__slide">
          <img src="./assets/images/offer-3.png">
          <h4>Heading 02</h4>
          <div>
            Description 02
          </div>
        </li>
      </ul>
    </div>
  </div> -->

  <!-- <div class="glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        <li class="glide__slide">0</li>
        <li class="glide__slide">1</li>
        <li class="glide__slide">2</li>
      </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
    </div>
  </div> -->

  <!-- <div class="slider">
    <div class="slider__item">
      <img src="./assets/images/offer-1.png" alt="offer">
    </div>
    <div class="slider__item">
      <img src="./assets/images/offer-2.png" alt="offer">
    </div>
    <div class="slider__item">
      <img src="./assets/images/offer-3.png" alt="offer">
    </div>
    <div class="slider__item">
      <img src="./assets/images/offer-4.png" alt="offer">
    </div>
    <div class="slider__item">
      <img src="./assets/images/offer-1.png" alt="offer">
    </div>
  </div> -->

  <div class="offers__controller">
    ...
  </div>

</div>

<!-- <div class="slider">
  <div class="slider__item">
    <img src="./assets/images/offer-1.png" alt="offer">
  </div>
  <div class="slider__item">
    <img src="./assets/images/offer-2.png" alt="offer">
  </div>
  <div class="slider__item">
    <img src="./assets/images/offer-3.png" alt="offer">
  </div>
  <div class="slider__item">
    <img src="./assets/images/offer-4.png" alt="offer">
  </div>
  <div class="slider__item">
    <img src="./assets/images/offer-1.png" alt="offer">
  </div>
</div> -->