<div class="offers-slider slider">
  <div class="slider__item">
    <img src="./assets/images/offer-1.png" alt="offer">
    <h4>Пакет включено почти всё</h4>
    <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности.</p>
  </div>
  <div class="slider__item">
    <img src="./assets/images/offer-2.png" alt="offer">
    <h4>Пакет включено почти всё</h4>
    <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности.</p>
  </div>
  <div class="slider__item">
    <img src="./assets/images/offer-3.png" alt="offer">
    <h4>Пакет включено почти всё</h4>
    <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности.</p>
  </div>
  <div class="slider__item">
    <img src="./assets/images/offer-4.png" alt="offer">
    <h4>Пакет включено почти всё</h4>
    <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности.</p>
  </div>
  <div class="slider__item">
    <img src="./assets/images/offer-1.png" alt="offer">
    <h4>Пакет включено почти всё</h4>
    <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности.</p>
  </div>
  <div class="slider__item">
    <img src="./assets/images/offer-1.png" alt="offer">
    <h4>Пакет включено почти всё</h4>
    <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности.</p>
  </div>
  <div class="slider__item">
    <img src="./assets/images/offer-2.png" alt="offer">
      <h4>Пакет включено почти всё</h4>
      <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности.</p>
  </div>
  <div class="slider__item">
    <img src="./assets/images/offer-3.png" alt="offer">
      <h4>Пакет включено почти всё</h4>
      <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности.</p>
  </div>
  <div class="slider__item">
    <img src="./assets/images/offer-4.png" alt="offer">
      <h4>Пакет включено почти всё</h4>
      <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности.</p>
  </div>
  <div class="slider__item">
    <img src="./assets/images/offer-1.png" alt="offer">
  </div>
</div>
<style>

  .slick-arrow.slick-prev {
    /* left: 0; */
    background: url('./assets/images/left-arrow.png') 0 0 / 100% no-repeat;
  }

  .slick-arrow.slick-next {
    /* right: 0; */
    background: url('./assets/images/right-arrow.png') 0 0 / 100% no-repeat;
  }
</style>