

  
<div class="slider-controllers">
  <button class="slider-controllers__controller link_filter enabled" href="">Горящие предложения</button>
  <button class="slider-controllers__controller link_all-offers" href="">Все предложения</button>
</div>

<div class="offers-slider slider">

  <div class="slider__item">
    <a href="#">
      <img src="./assets/images/offer-3.png" alt="offer">
      <h4>Пакет включено почти всё</h4>
      <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности.</p>
    </a>
  </div>
  <div class="slider__item filter">
    <a href="#">
      <img src="./assets/images/offer-1.png" alt="offer">
      <h4>Пакет включено почти всё</h4>
      <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности.</p>
    </a>
  </div>
  <div class="slider__item filter">
    <a href="#">
      <img src="./assets/images/offer-2.png" alt="offer">
      <h4>Пакет включено почти всё</h4>
      <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности.</p>
    </a>
  </div>
  <div class="slider__item filter">
    <a href="#">
      <img src="./assets/images/offer-3.png" alt="offer">
      <h4>Пакет включено почти всё</h4>
      <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности.</p>
    </a>
  </div>
  <div class="slider__item filter">
    <a href="#">
      <img src="./assets/images/offer-4.png" alt="offer">
      <h4>Пакет включено почти всё</h4>
      <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности.</p>
    </a>
  </div>
  <div class="slider__item filter">
    <a href="#">
      <img src="./assets/images/offer-3.png" alt="offer">
      <h4>Пакет включено почти всё</h4>
      <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности.</p>
    </a>
  </div>
  <div class="slider__item filter">
    <a href="#">
      <img src="./assets/images/offer-2.png" alt="offer">
      <h4>Пакет включено почти всё</h4>
      <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности.</p>
    </a>
  </div>
  <div class="slider__item filter">
    <a href="#">
      <img src="./assets/images/offer-3.png" alt="offer">
      <h4>Пакет включено почти всё</h4>
      <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности.</p>
    </a>
  </div>
  <div class="slider__item filter">
    <a href="#">
      <img src="./assets/images/offer-2.png" alt="offer">
      <h4>Пакет включено почти всё</h4>
      <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности.</p>
    </a>
  </div>
  <div class="slider__item filter">
    <a href="#">
      <img src="./assets/images/offer-1.png" alt="offer">
      <h4>Пакет включено почти всё</h4>
      <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности.</p>
    </a>
  </div>
  <div class="slider__item filter">
    <a href="#">
      <img src="./assets/images/offer-1.png" alt="offer">
      <h4>Пакет включено почти всё</h4>
      <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности.</p>
    </a>
  </div>
  <div class="slider__item">
    <a href="#">
      <img src="./assets/images/offer-2.png" alt="offer">
      <h4>Пакет включено почти всё</h4>
      <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности.</p>
    </a>
  </div>
  <div class="slider__item">
    <a href="#">
      <img src="./assets/images/offer-3.png" alt="offer">
      <h4>Пакет включено почти всё</h4>
      <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности.</p>
    </a>
  </div>
  <div class="slider__item">
    <a href="#">
      <img src="./assets/images/offer-4.png" alt="offer">
      <h4>Пакет включено почти всё</h4>
      <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности.</p>
    </a>
  </div>
  <div class="slider__item">
    <a href="#">
      <img src="./assets/images/offer-1.png" alt="offer">
      <h4>Пакет включено почти всё</h4>
      <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности.</p>
    </a>
  </div>
</div>