<!DOCTYPE html>
<html lang="ru">
<head>
    {{> head }}
</head>
<body>

    <div class="page">
        <div class="header-about-us-bg-wrapper">
            <div class="header-about-us-bg" style="background-image: url(./assets/images/header-about-us-bg.png);">
            <style>
                .header-about-us-bg:after {
                    content: url(./assets/images/moon.png);
                    position: absolute;
                    left: 49.4%;
                    top: 128px;
                }
            </style>
                {{> header }}
        
                {{> about-us}}
            </div>
        </div>

        {{> offers}}

        {{> offers-slider}}

        <div class="basement-bg-wrapper">
            <div class="basement-bg" style="background-image: url(./assets/images/basement-bg.png); background-color: #180032; background-color: rgba(15, 0, 31, 0.1);">
                {{> feedback}}

                {{> basement}}
            </div>
        </div>

        

    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- <script>
        new Glide('.glide').mount()
    </script> -->
    <script src="assets/js/app.js"></script>
</body>
</html>
