<!DOCTYPE html>
<html lang="ru">
<head>
    {{> head }}
</head>
<body>

    <div class="page">
        <div class="header-about-us-bg-wrapper">
            <div class="header-about-us-bg" style="background-image: url(./assets/images/header-about-us-bg.png);">
            <style>
                .header-about-us-bg:after {
                    content: url(./assets/images/moon.png);
                    position: absolute;
                    left: 49.4%;
                    top: 128px;
                }
            </style>
                {{> header }}
        
                {{> about-us}}
            </div>
        </div>

        {{> offers}}

        {{> feedback}}

        {{> basement}}

    </div>
    
    <script src="assets/js/app.js"></script>
</body>
</html>
